.menubar
    a.menubar-elem(href="/") Домой
    a.menubar-elem(href="/paint_list") Список лотов
    a.menubar-elem(href="/participants") Участники аукциона
    a.menubar-elem(href="/settings") Настройка аукциона
